.fundo {
    background-color: black;
    background-image: url("src/assets/Fundo-login.svg");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.apresentacao {
    color: white;
    width: 61.125rem;
    height: 24.938rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    gap: 3rem;
}

.apresentacao > h1 {
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.apresentacao > p {
    font-size: 1.5rem;
    font-weight: 500;
}

.box {
    background-color: #004A9B;
    width: 60rem;
    height: 50rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.box > h1 {
    color: #F2F4F7;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
}

.box > form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

form > input {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #D2DBFF;
    width: 32.5rem;
    height: 2.75rem;
    border-radius: 11px;
    padding: 1rem;
}


form > button {
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #6D98FB;
    width: 10.5rem;
    height: 2.75rem;
    border-radius: 11px;
    margin-top: 3rem;
}

/*------------------------------------------------------------ */

@media (max-width: 990px) {
    .apresentacao {
        width: 40rem;
    }

    .box {
        margin-top: 10rem;
        width: 40rem;
    }
}

@media (max-width: 660px) {
    .apresentacao {
        width: 20rem;
        height: auto;
    }

    .box {
        margin-top: 10rem;
        width: 20rem;
        height: 42rem;
    }

    form > input {
        width: 15rem;
        height: 1rem;
    }
}