
.fundo {
    background-image: url("src/assets/Fundo-faleconosco.svg");
    background-color: black;
}

.introducao {
    background-image: url("src/assets/fundo-home.svg");
    background-size: cover;
    width: 100%;
    height: 16.875rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.introducao > h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 5rem;
}

.introducao > p {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5rem;
}

/*-------------SLIDERS ---------------- */
.ticket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.quadrado {
    background-color: #D82F1E;
    border-radius: 4px;
    width: 80.25rem;
    height: 32.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.retangulo {
    background-color: #E6A352;
    border-radius: 4px;
    width: 68.125rem;
    height: 27.375rem;
}

.descricao {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 5rem;
}

.descricao > img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 12px;
}

.text {
    width: 35.563rem;
    height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text > h1 {
    color: #000000;
    font-weight: 700;
    font-size: 3rem;
}

.text > h2 {
    color: #000000;
    font-weight: 500;
    font-size: 1.5rem;
}

.text > p {
    color: #000000;
    font-weight: 400;
    font-size: 1.25rem;
}

.transformando {
    font-family: 'Nunito Sans', sans-serif;
}

.reserva {
    font-family: 'Roboto', sans-serif;
}

/*------------------------------------- */

.cartaz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
}

.cartaz > h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;

}

.homeCartazes {
    width: 14rem;
    font-family: 'Roboto', sans-serif;
}

.disponivel {
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-family: 'Roboto', sans-serif;
}

.filmes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.filmes > div > img {
    width: 14.375rem;
    height: 21.25rem;
    border-radius: 8px;
}

.filmes > div > h2 {
    color: #F2F4F7;
    font-size: 1.5rem;
    font-weight: 500;
}

.filmes > div > button {
    color: #F2F4F7;
    font-size: 1.154rem;
    font-weight: 600;
    background-color: #CC8000;
    width: 14.375rem;
    height: 2.75rem;
    border-radius: 8px;
    margin-top: 0.5rem;
}


.vermais {
    color: #FFFFFF;
}

.vermais:hover {
    color: blue;
}




/*----------------------------- */


