
.fundo {
    background-image: url("src/assets/Fundo-faleconosco.svg");
    background-color: black;
}


/*-----------------------------BANNER ---------------------------- */


.banner {
    background: linear-gradient(180deg, #00264D 86.62%, rgba(0, 38, 77, 0) 100%);
    width: 100%;
    height: 24.063rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.banner > img {
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 14.375rem;
    height: 21.25rem;
    border-radius: 8px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-family: 'Nunito Sans', sans-serif;
}

.titulo > h1 {
    color: #FFFFFF;
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.idade {
    background-color: #FBC115;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 7px;
}

.idade > p {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.9rem;
}

.detalhes {
    width: 26.375rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    font-family: 'Roboto', sans-serif;
}

.detalhes > p:first-of-type{
    color: #C6C6C6;
    font-size: 1.5rem;
    font-weight: 500;
}

.detalhes > p:last-of-type {
    color: #F3F3F3;
    font-size: 1.25rem;
    font-weight: 400;
}


.filtros {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;

    font-family: 'Roboto', sans-serif; 
}

.filtros > select{
    color: #D2DBFF;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #00557B;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 11px;
    width: 19.375rem;
    height: 3.25rem;
}

/*----------------------------- MEIO ---------------------------- */

.horarios {
    margin-left: 3rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}


.tipo {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    font-family: 'Poppins', sans-serif;
}

.tipo > div {
    color: #0066CC;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 3px solid #0066CC;
    border-radius: 1.625rem;
    width: 6.625rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quadro {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: 'Poppins', sans-serif;
}


.box {
    background-color: #141414;
    width: 54.438rem;
    height: 11.75rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;

    font-family: 'Poppins', sans-serif;
}

.d {
    background: #D48C29;
    width: 5rem;
    height: 2.25rem;
    border-radius: 4px;
    padding: 0px, 20px, 0px, 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d > p {
    color: #141414;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.comeco {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.caixa_hora {
    border: 3px solid #0066CC;
    width: 6.563rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: black;

    font-family: 'Poppins', sans-serif;
}

.caixa_hora > p{
    color: #0066CC;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    font-family: 'Poppins', sans-serif;
}


/* ------------------------------------------------------------*/

@media (max-width: 996px) {
    .filtros > select {
        width: 12rem;
    }
}



@media (max-width: 930px) {
    .filtros > select {
        width: 12rem;
    }

    .box {
        width: 45rem;
        height: 11.25rem;
    }
}


@media (max-width: 778px) {
    .filtros > select {
        width: 8rem;
        font-size: 0.8rem;
    }

    .box {
        width: 40rem;
        height: 11.25rem;
    }

    .tipo > div {
        width: 4rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .d {
        width: 4rem;
        height: 2rem;
    }

    .d > p {
        font-size: 1rem;
    }

    .caixa_hora {
        width: 4rem;
        height: 2.5rem;
    }

    .caixa_hora > p {
        font-size: 1rem;
    }
}



@media (max-width: 756px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 620px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 613px) {
    html {
        font-size: 65%;
    }
}


/* ------------------------------------------------------------*/

@media (max-width: 996px) {
    .filtros > select {
        width: 12rem;
    }
}



@media (max-width: 930px) {
    .filtros > select {
        width: 12rem;
    }

    .box {
        width: 45rem;
        height: 11.25rem;
    }
}


@media (max-width: 778px) {
    .filtros > select {
        width: 8rem;
        font-size: 0.8rem;
    }

    .box {
        width: 40rem;
        height: 11.25rem;
    }

    .tipo > div {
        width: 4rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .d {
        width: 4rem;
        height: 2rem;
    }

    .d > p {
        font-size: 1rem;
    }

    .caixa_hora {
        width: 4rem;
        height: 2.5rem;
    }

    .caixa_hora > p {
        font-size: 1rem;
    }
}



@media (max-width: 756px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 620px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 613px) {
    html {
        font-size: 65%;
    }
}