* {
    font-family: 'Alata', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fundo {
    background-image: url("src/assets/Fundo-faleconosco.svg");
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6rem;
}


aside {
    width: 21rem;
    height: 48.75rem;
}

.parte_cima {
    background-color: #00264D;
    width: 21rem;
    height: 14.875rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.parte_cima > img {
    width: 7.013rem;
    height: 12.5rem;
    border-radius: 3px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.parte_cima > section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.parte_cima > section > h2 {
    color: #FFFFFF;
    font-size: 1.225rem;
    font-weight: 500;
}

.caracteristicas {
    margin-top: 0.34rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.retangulo {
    background-color: #CC8000;
    border: 2px solid #CC8000;
    width: 3.42rem;
    height: 1.531rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retangulo > p {
    color: #1E1E1E;
    font-size: 1rem;
    font-weight: 600;
}

.parte_baixo {
    background-color: #DDDDDD;
    width: 21rem;
    height: 33.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.titulo > img {
    color: #000000;
    width: 0.813rem;
    height: 0.688rem;
    border-radius: 1px;
}

.titulo > h2 {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

.box {
    background-color: #CCCCCC;
    box-shadow: 0px 0px 4px 0px #00000040 inset;
    width: 16.875rem;
    height: 22rem;
    border-radius: 4px;
    margin-top: 1rem;
}

.parte_baixo > button {
    color: #F3F3F3;
    font-size: 1rem;
    font-weight: 600;
    background-color: #CC8000;
    width: 7.438rem;
    height: 3rem;
    border-radius: 8px;
    margin-top: 4rem;
}


.sala {
    background-color: #141414;
    box-shadow: 0px 0px 8px 4px #141414;
    width: 56.25rem;
    height: 43.75rem;
    align-self: center;
    margin-right: 10rem;
}

.tela > div:first-of-type {
    background-color: #CC8000;
    width: 56.25rem;
    height: 2.438rem;
}

.tela > div:first-of-type > p {
    color: #141414;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}


.tela > div:last-of-type {
    background: linear-gradient(180deg, #CC8000 0%, rgba(204, 128, 0, 0) 100%);
    width: 56.25rem;
    height: 3.125rem;
}

.fileiras {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9rem;
}

.letras {
    color: #9B9B9B;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cadeiras {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fila {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}


.assentos {
    border: 3px solid #004A9B;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 6px 6px 0px 0px;
}



.legenda {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.linha {
    background-color: #9B9B9B;
    border: 5px solid #9B9B9B;
    width: 48.438rem;
    border-radius: 5px;
    align-self: center;
}

.legenda > h2 {
    color: #B0B0B0;
    font-size: 1.005rem;
    font-weight: 600;
    margin-left: 4.5rem;
}

.significado {
    margin-left: 4.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.disponivel {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.disponivel > div {
    border: 3px solid #003877;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 6px 6px 0px 0px;
}

.disponivel > p{
    color: #C6C6C6;
    font-size: 1.005rem;
    font-weight: 600;
}


.selecionado {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.selecionado > div {
    background-color: #CC8000;  
    border: 3px solid #CC8000;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 6px 6px 0px 0px;
}

.selecionado > p{
    color: #C6C6C6;
    font-size: 1.005rem;
    font-weight: 600;
}

.comprado {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.comprado > div {
    background-color: #2B3955;
    border: 3px solid #2B3955;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 6px 6px 0px 0px;
}

.comprado > p{
    color: #C6C6C6;
    font-size: 1.005rem;
    font-weight: 600;
}

/*----------------------------------------------------------------------*/


@media (max-width: 1470px) {
    .sala {
        margin-right: 3rem;
    }
}

/*----------------------------------------------------- */


@media (max-width: 1300px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 21rem;
        display: flex;
        flex-direction: row;
    }

    .parte_cima {
        width: 25rem;
    }

    .parte_baixo {
        width: 100%;
        height: 14.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parte_baixo > button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        width: 40rem;
        height: 7rem;
    }

    .sala {
        margin-left: 3rem;
    }
}

/*----------------------------------------------------- */


@media (max-width: 920px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 21rem;
        display: flex;
        flex-direction: row;
    }

    .parte_cima {
        width: 25rem;
    }

    .parte_baixo {
        width: 100%;
        height: 14.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parte_baixo > button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        width: 30rem;
        height: 7rem;
    }

    .sala {
        width: 45rem;
        height: 43.75rem;
        margin-left: 3rem;
    }

    .tela > div:first-of-type {
        width: 45rem;
        height: 2.438rem;
    }

    .tela > div:last-of-type {
        width: 45rem;
        height: 3.125rem;
    }

    .fileiras {
        gap: 6rem;
    }

    .linha {
        width: 40rem;
    }
}

/*----------------------------------------------------- */

@media (max-width: 920px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: 21rem;
        display: flex;
        flex-direction: row;
    }

    .parte_cima {
        width: 25rem;
    }

    .parte_baixo {
        width: 100%;
        height: 14.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parte_baixo > button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        width: 20rem;
        height: 7rem;
    }

    .sala {
        width: 35rem;
        height: 43.75rem;
        margin-left: 3rem;
    }

    .tela > div:first-of-type {
        width: 35rem;
        height: 2.438rem;
    }

    .tela > div:last-of-type {
        width: 35rem;
        height: 3.125rem;
    }

    .fileiras {
        gap: 2rem;
    }

    .linha {
        width: 30rem;
    }
}

/*----------------------------------------------------- */


@media (max-width: 610px) {
    html {
        font-size: 85%;
    }
}


@media (max-width: 530px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 390px) {
    html {
        font-size: 45%;
    }
}