.banner {
    background-color: #004A9B;
    width: 100%;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.linkBtn {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #F2F4F7;
    padding: 0.7rem;
}

.pesquisa {
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.pesquisa > input {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #F3F3F3;
    width: 65.875rem;
    height: 2.813rem;
    border-radius: 24px;
    margin-top: 2rem;
    padding: 1rem;
}

.pesquisa > img {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}


.caixinha {
    margin-right: 25rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.genero {
    color: #D2DBFF;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #00557B;
    width: 19.375rem;
    height: 3.25rem;
    border-radius: 11px;
    padding: 12px, 48px, 12px, 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.classificacao {
    color: #D2DBFF;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #00557B;
    width: 19.375rem;
    height: 3.25rem;
    border-radius: 11px;
    padding: 12px, 48px, 12px, 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
}


.fundo {
    background: linear-gradient(rgba(43,57,85,0.8), rgba(57,75,112,0.8)),  url("src/assets/Fundo-faleconosco.svg");
}

.geral {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.geral > h1{
    color: #F2F4F7;
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-top: 5rem;
    margin-right: 60rem;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10rem;
    margin-top: 4rem;
}

.card {
    background: linear-gradient(179.96deg, #00264D 64.31%, #001225 99.97%);
    box-shadow: 0px 4px 4px 0px #00000080;
    width: 29.063rem;
    height: 60.688rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    height: auto;
}

.card > img {
    width: 26.375rem;
    height: 39rem;
    border-radius: 4px;
    margin-top: 1rem;
}

/*------------- Besouro Azul ----------------*/

.nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
    padding: 0 1.5rem;
}

.nome > h1 {
    color: #F2F4F7;
    font-size: 1.5rem;
    font-weight: 600;
}

/*---------------------------------*/


.idade1 {
    /* background-color: #FBC115; */
    width: 2.008rem;
    height: 1.875rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
}

.zero {
   background-color: #00A651;
}

.um {
    background-color: #0095DA;
}

.dois {
    background-color: #FBC115;
}

.tres {
    background-color: #F58220;
}

.quatro {
    background-color: #EC1D25;
}

.cinco {
    background-color: black;
}

.text1 {
    color: #F2F4F7;
    font-size: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.botao1 {
    font-size: 1.15rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: #CC8000;
    width: 12.8rem;
    height: 3rem;
    margin-top: 1.5rem;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
}



/*-------------------------------BANNER-------------------------------------- */

@media (max-width: 1140px) {
    .pesquisa {
        width: 55rem;
        height: 1rem;
    }

    .genero {
        width: 10.375rem;
        height: 2.25rem;
        margin-top: 5rem;
        padding: 0.2rem;

    }
    .classificacao {
        width: 10.375rem;
        height: 2.25rem;
        margin-top: 5rem;
        padding: 0.2rem;

    }
}

@media (max-width: 896px) {
    .pesquisa {
        width: 45rem;
        height: 1rem;
    }

    .genero {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
    .classificacao {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
}

@media (max-width: 730px) {
    .pesquisa {
        width: 35rem;
        height: 1rem;
    }

    .caixinha {
        margin-left: 10rem;
    }

    .genero {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
    .classificacao {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
}


@media (max-width: 580px) {
    .pesquisa {
        width: 25rem;
        height: 1rem;
    }

    .caixinha {
        margin-left: 20rem;
    }

    .genero {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
    .classificacao {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
}

@media (max-width: 420px) {
    .pesquisa {
        width: 15rem;
        height: 1rem;
    }

    .caixinha {
        margin-left: 25rem;
    }

    .genero {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
    .classificacao {
        width: 8.375rem;
        height: 2.25rem;
        margin-top: 5rem;
    }
}


/*--------------------------------filmes------------------------- */

@media (max-width: 1160px) {
    .line {
        gap: 2rem;
    }

}

@media (max-width: 990px) {
    .line {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 490px) {
    .card {
        width: auto;
        height: auto;
    }

  
}
