.footer {
    width: 100%;
    height: 24rem;
    background-color:#00264D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;

}



.footer > section {
    width: 18.875rem;
    height: 16.563rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.endereco {
    width: 18.875rem;
    height: 8rem;
}

.endereco > h1 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.758rem;
}

.endereco > p {
    color: #D2DBFF;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.465rem;
}

.contato > h2 {
    color:  #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.contato > p{
    color: #D2DBFF;
    font-size: 1.25rem;
    font-weight: 200;
}

.contato > div {
    margin-top: 1rem; 
}

.contato > div > img{
    width: 1.875rem;
    height: 1.875rem;
}

.INgresso {
    display: flex;
    justify-content: space-around;
}

.mapa {
    margin-right: 2rem;
}

iframe {
    width: 20.313rem;
    height: 15.256rem;
    
}


.Copyright {
    width: 100%;
    height: 2.313rem;
    background-color: #1A386A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Copyright > p{
    text-align: center;
    color: #DDDDDD;
    font-size: 1rem;
    
}

/*------------------------------------------------ */

@media (max-width: 1012px) {
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    
}
