.header {
    background-color: #0066CC;
    width: 100%;             /*90 rem ----> como eu não quiero scrolar para os lados, deixa assim por enquanto */
    height: 10.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 0.2rem;
    box-shadow: #000000 6,25%;   /*ver o tamanho e etc ---> ALTERAR */
}

.header > img {
    width: 15.688rem;
    height: 6.125rem;
    margin-left: 3rem;
}


.header > div {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: 3rem;
}

.image {
    width: 2.875rem;
    height: 2.875rem;
 
}

/*------------------------------------------------------- */

@media (max-width: 608px) {
    .image {
        width: 2rem;
        height: 2rem;
    }
    .header > img {
        width: 13rem;
        height: 5rem;
    }
    
}



@media (max-width: 506px) {
   
    .image {
        width: 1.5rem;
        height: 1.5rem;
    }
    .header > img {
        width: 10rem;
        height: 5rem;
        
    }
    
}