.fundo {
    background-color: black;
    background-image: url("src/assets/Fundo-faleconosco.svg");
    display: flex;
    justify-content: center;    
}

.caixa {
    background-color: #004A9B;
    width: 30.5rem;
    height: 45.125rem;
    border-radius: 10px;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.contato {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.contato > h1 {
    color: #F2F4F7;
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.contato > p {
    color: #F2F4F7;
    font-size: 1.5rem;
    font-weight: 500;
}

.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.form > input {
    background-color: #D2DBFF;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 11px;
    width: 24.375rem;
    height: 2.75rem;
    padding: 1rem;
}

.form > textarea {
    background-color: #D2DBFF;
    resize: none;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 11px;
    width: 24.375rem;
    height: 17.688rem;
    padding: 1rem;
}

.form > button {
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #6D98FB;
    width: 9.125rem;
    height: 2.75rem;
    border-radius: 11px;
}