.fundo {
    background-image: url("src/assets/Fundo-login.svg");
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.texto {
    display: block;
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.texto > img {
    width: 45rem;
    height: 17rem;
}

.texto > p {
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: Roboto;
    width: 34rem;
    height: 14rem;
    margin-left: 13rem;
}

.formulario {
    background-color: #004A9B;
    width: 30.5rem;
    height: 37.5rem;
    border-radius: 2px;
    box-shadow: 10px 5px 20px #000000;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2rem;
}

.contato {
    color: #F2F4F7;
    text-align: center;
    margin-top: 3rem;
}
   

.contato > h1 {
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
}

.contato > p {
    font-size: 1.5rem;
}

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;

}

.cadastro > input {
    background-color: #D2DBFF;
    width: 24rem;
    height: 2.75rem;
    border-radius: 11px;
    font-size: 1.25rem;
    padding: 1rem;
}

.formulario > div:last-of-type{
    color: #DDDDDD;
    text-decoration: underline;
    margin-top: 0.5rem;
    margin-right: 15rem;
}


.linkBtn {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #F2F4F7;
    padding: 0.5rem;
}


.entrar {
    background-color: #6D98FB;
    width: 24rem;
    height: 2.75rem;
    border-radius: 11px;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.formulario > h2 {
    width: 24.375rem;
    border: 2px solid #D2DBFF;
    margin-top: 2rem;
}

.cadastrar{
    background-color: #00CC54;
    color: #F3F3F3;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 13.75rem;
    height: 2.75rem;
    border-radius: 11px;
    margin-top: 2rem;
    cursor: pointer;
}

/*---------------------------------------------------- */

@media (max-width: 1210px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    .texto > p {
        margin-left: 6rem;
        
    }

    .formulario {
        margin-bottom: 4rem;
    }
}


@media (max-width: 700px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    .texto > p {
        width: 25rem;
    }

    .texto > img {
        width: 35rem;
        height: 10rem;
    }

    .formulario {
        margin-bottom: 4rem;
    }
}


@media (max-width: 510px) {
    .formulario {
        width: 25rem;
        height: 37.5rem;
    }

    .cadastro > input {
        width: 20rem;
        height: 2rem;
    }

    .entrar {
        width: 18rem;
        height: 2.rem;
    }
    .cadastrar {
        width: 15rem;
        height: 2rem;
    }
}





@media (max-width: 425px) {
    .fundo {
        display: flex;
        flex-direction: column;
    }

    .texto > p {
        width: 18rem;
        height: 20rem;
        margin-left: 3rem;
    }

    .texto > img {
        width: 19rem;
        height: 10rem;
    }

    .formulario {
        margin-bottom: 4rem;
        width: 20rem;
        height: 37.5rem;
    }

    .formulario > h2 {
        width: 15rem;
    }

    .cadastro > input {
        width: 18rem;
        height: 1rem;
    }

    .entrar {
        width: 10rem;
        height: 2.rem;
    }
    .cadastrar {
        width: 12rem;
        height: 2rem;
    }

}

